.Rproj.user
.Rhistory
.RData
.Ruserdata

data/
results/
figures/
docs/
References/

Chemosphere.csl

HESTIA_notes.nb.html
HESTIA_notes.Rmd
HESTIA_Project.Rproj
HESTIA_Report.Rproj
HESTIA_Report.html
HESTIA_Report.Rmd

HESTIA_Uncertainty_Analysis.html
HESTIA_Uncertainty_Analysis.log
HESTIA_Uncertainty_Analysis.pdf
HESTIA_Uncertainty_Analysis.Rmd
HESTIA_Uncertainty_Analysis.docx


Supplementary_information.docx